html{
    background-color: black;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.overwatch{
background-color: orange !important;
}

.fortnite{
    background-color: blue !important;
}
.stats{
    color: white;
}

table{
    margin: 2em
}