html{
    background-color: black;
}

.overwatch{
background-color: orange !important;
}

.fortnite{
    background-color: blue !important;
}
.stats{
    color: white;
}

table{
    margin: 2em
}

.justify-center{
    display:flex;
    justify-content: center;
}

.x-margin{
    margin-left: 50px;
    margin-right: 50px;
}
.width{
    max-width: 80%;
}

.history{
    padding: 2em;
    margin: 2em;
}